h1 {
  text-align: center;
}

button {
  padding: 10px;
  border: none;
  background-color: rgb(208, 208, 208);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

button:hover {
  background-color: rgb(172, 172, 172);
}

#color-preview {
  width: 300px;
  height: 200px;
  display: flex;
  margin: auto;
  border-radius: 5px;
}

#color-preview > h1 {
  filter: invert(1);
  color: transparent;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  display: flex;
  margin: auto; 
  font-weight: bolder;
}

#color-options {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 10px;
}

#stats {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.value {
  text-align: center;
  margin-block-start: 0;
}